<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/reservas']">Lista Reservas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Crear Reserva</li>
    </ol>
</nav>

<div id="bienvenida">
    <img src="../../../assets/imagenes/icon.png">
    <h1 class="display-4">Registro de Reservas</h1>
</div>

<div class="jumbotron">
    <p class="lead">Llena el formulario completo.</p>
    <hr class="my-4">
    <h3>Datos de la reserva: </h3>
    <form (ngSubmit)="insertarReserva()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="idCliente">Cliente</label>
                <select class="form-control" [(ngModel)]="idCliente" id="idCliente" name="idCliente">
                     <option *ngFor="let cliente of clientes" [value]="cliente.idCliente"> {{cliente.nombre}} - {{cliente.cedula}}</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="idVideojuego">Videojuego</label>
                <select class="form-control" [(ngModel)]="idVideojuego" id="idVideojuego" name="idVideojuego">
                    <option *ngFor="let videojuego of videojuegos" [value]="videojuego.idVideojuego"> {{videojuego.nombre}} </option>
               </select>
            </div>
        </div>

        <button id="registrar" type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>

<app-pie-pagina></app-pie-pagina>