<div class="card">
    <div class="card-header">
        <a class="btn btn-outline-secondary" [routerLink]="['/crear-videojuego']" routerLinkActive="active">Registrar videojuego</a>
    </div>

    <div id="bienvenida">
        <br>
        <img src="../../../assets/imagenes/icon.png">
        <h1 class="display-4">Bienvenido videogamer!</h1>
        <p class="lead">Aquí podrás ver los clientes, modificarlos o registrarte en el boton de arriba</p>
    </div>
</div>

<br>
<h3> Videojuegos</h3>
<br>

<div class="container" id="contenedor">
    <div *ngIf="videojuegos.length == 0">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Lo siento! </strong>No hay videojuegos registrados en la base de datos.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div *ngIf="videojuegos.length > 0">
        <div class="rows">
            <div class="column" *ngFor="let videojuego of videojuegos">
                <div class="card border-dark mb-3" style="max-width: 30rem; justify-content: center;">
                    <div class="card-header border-dark mb-3">
                        {{videojuego.genero}}
                    </div>
                    <div class="container" id="nombrevideojuego">
                        <strong><h4>{{videojuego.nombre}}</h4></strong>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Precio: </strong> {{videojuego.precio}} </li>
                            <li class="list-group-item"><strong>Fecha: </strong> {{videojuego.fechaLanzamiento}}</li>
                            <li class="list-group-item"><strong>Autor: </strong> {{videojuego.autor}} </li>
                        </ul>
                    </div>
                    <div class="card-footer border-dark mb-3">
                        <div id="botones">
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2" (click)="mostrarModal(videojuego)">Editar</button>
                            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal" (click)="mostrarModal(videojuego)">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- El Modal de Eliminar-->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Eliminar</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                ¿Está seguro que desea eliminar la información de {{videojuegoSeleccionado.nombre}} ?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="eliminarVideojuego(videojuegoSeleccionado.nombre)">Aceptar</button>
            </div>

        </div>
    </div>
</div>

<!-- El Modal de Editar-->
<div class="modal fade" id="myModal2">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Editar</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        Actualizar el perfil de {{videojuegoSeleccionado.nombre}}
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nombres">Nombre</label>
                                    <input type="text" class="form-control" id="nombres" name="nombre" [(ngModel)]="videojuegoActualizar.nombre" [value]="videojuegoSeleccionado.nombre" minlength="2" #nombres="ngModel" required>
                                    <div class="alert alert-danger" *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)">
                                        <div *ngIf="nombres?.errors.required">El nombre es requerido</div>
                                        <div *ngIf="nombres?.errors.minlength">El nombre debe tener al menos 3 caracteres</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="genero">Genero</label>
                                    <input type="text" class="form-control" id="generos" name="genero" [(ngModel)]="videojuegoActualizar.genero" [value]="videojuegoSeleccionado.genero">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="fecha">Fecha Lanzamiento</label>
                                    <input type="date" class="form-control" placeholder="YYYY-MM-DD" id="fechas" name="fecha" [(ngModel)]="videojuegoActualizar.fechaLanzamiento">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="telefono">Precio</label>
                                    <input type="number" class="form-control" id="precios" name="precio" [(ngModel)]="videojuegoActualizar.precio" [value]="videojuegoSeleccionado.precio">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="autor">Autor</label>
                                    <input type="text" class="form-control" id="autores" name="autor" [(ngModel)]="videojuegoActualizar.autor" [value]="videojuegoSeleccionado.autor">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="actualizarVideojuego(videojuegoSeleccionado.idVideojuego)">Aceptar</button>
            </div>

        </div>
    </div>
</div>