<div class="jumbotron">
    <div id="bienvenida">
        <img src="../../../assets/imagenes/icon.png">
        <h1 class="display-4">Bienvenido videogamer!</h1>
        <p class="lead">Aquí podrás encontrar tu juego de preferencia</p>
    </div>
</div>
<h4> > Esta aplicación web cuenta con los siguientes servicios:</h4>
<br>
<div class="card-deck">
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Cliente</div>
        <div class="card-body">
            <h5 class="card-title">Crear las credenciales</h5>
            <p class="card-text">Se puede crear un usuario con sus datos personales, para poder realizar una reserva.
            </p>
        </div>

    </div>

    <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Cliente</div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Eliminar las credenciales</h5>
            <p class="card-text">Si el cliente desea no pertenecer más a la tienda, podrá eliminar su usuario cuando deseé.</p>
        </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Videojuego</div>
        <div class="card-body">
            <h5 class="card-title">Agregar juego</h5>
            <p class="card-text">Se puede crear un juego para ser reservado inmediatamente, siempre y cuando cumpla las reglas de negocio.</p>
        </div>
    </div>

    <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Videojuego</div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Reglas de negocio</h5>
            <p class="card-text">No se puede crear un juego los domingos, el nombre del juego no puede contener los siguientes caracteres (*, /, +).</p>
        </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Reserva</div>
        <div class="card-body">
            <h5 class="card-title">Reservar un juego</h5>
            <p class="card-text">Podrás reservar cualquier juego, a la hora que desees, siempre y cuando tengas un usuario creado y exista el juego que deseas.</p>
        </div>
    </div>
</div>


<app-pie-pagina></app-pie-pagina>